/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
}

html {
  font-family:
    Outfit,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--slate-300);
}

p {
  font-size: 0.9375rem;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;

  width: 300px;
  height: auto;
  padding: 1rem;
  border-radius: 1rem;

  background-color: var(--white);

  img {
    border-radius: 0.5rem;
  }

  .heading {
    font-weight: 700;
    color: var(--slate-900);
    padding: 0 1rem;
  }

  .subheading {
    font-weight: 400;
    color: var(--slate-500);
    padding: 0 1rem;
    margin-bottom: 1rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
  width: 100%;

  a {
    color: hsl(228, 45%, 44%);
  }
}
